@charset "UTF-8";

@font-face {
    font-family: 'grafite';
    src: url(fontes/graffiti_city/Graffiti\ City.otf) format(Opentype);
}

@font-face {
    font-family: 'circular';
    src: url(fontes/circular-std-medium-500.ttf) format(TrueType);
}

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


:root{
    --cor1: #A42CE6;
    --cor2: #8C46B3;
    --cor3: #6D4B80;
    --cor4: #473C4C;
    --cor5: #1e1a20;

    --fonte1: 'grafite', sans-serif;
    --fonte2: "Kode Mono", monospace;
    --fonte3: 'circular', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

hr{
    width: 93%;
    margin: auto;
    border-color: rgba(255, 255, 255, 0.274);
}

body{
    background-color: black;
}

header{
    padding: 20px;
    background-image: linear-gradient(to bottom, var(--cor2) 40%, /*rgb(39, 39, 39)*/ #462458 70%, rgb(19, 19, 19));
    margin: auto;
    text-align: left;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

main{
    background-color: rgb(19, 19, 19);
    height: 100vh;
    width: 85vw;
    margin: auto;
}

header  h1{
    color: white;
    font: 600 normal 3.6vw var(--fonte3);
    margin-bottom: 30px;
    font-variant: small-caps;
}

table{
    text-align: left;
    width: 94%;
    margin: auto;
    border-collapse: collapse;
       
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

tbody td{
    padding-top: 30px;
    padding: 10px;
}

th{
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}



#container{
    display: flex;
    align-items: end;
    
}

#imgprincipal{
    width: 15vw;
    margin-right: 1.1vw;
    margin-left: 60px;
    margin-top: 5vh;
    margin-bottom: 1vh;
    box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
}

div#principal{
    margin: auto;
    width: 85vw;
    margin-top: 2vh;
}

#conteudo{
    color: white;
}

#conteudo a, p{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    margin-bottom: 40px;
}

#conteudo a:hover{
    text-decoration: underline;
    color: white;
}

#playlist{
    margin-bottom: 0px;
}

#play{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1BD760;
    margin-left: 3.6%;
    margin-bottom: 2%;
    position: relative;
}

#play:hover{
    width: 64px;
    height: 64px;
    margin-bottom: 1.82%;
    background-color: #5cd488;
}

#contain{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;

    transform: translate(-50%, -50%);
}

#album{
    width: 900px;
}

#titulo{
    width: 800px;
}